{% set _depth = 0 %}
<ul class="maintag">
{% for item in tags %}
    {% if loop.index > 1 %}
        {% if tags.depth > _depth %}
 <ul class="subtag">
        {% elseif tags.depth < _depth %}
 </li></ul>
        {% else %}
 </li>
        {% endif %}
        {% set _depth = tags.depth %}
    {% endif %}

    <li><a href="x">{{ item.name }} - {{ loop.index }} - {{ tags.depth }}</a>
{% endfor%}
    </li></ul></li>
</ul>


{% set _depth = 0 %}
<select name="tag">
    {% for tag in tags %}
        <option value="{{ tag.id }}">

            {{ loop.index }}-{{ tags.depth }}-{{ tag.name }}

        </option>
    {% endfor%}
</select>


<select name="tag">
   {{ select |raw }}
</select>

<br>xxx
<ul class="maintag">
    <li>root
        <ul class="subtag">
            <li>tag1
            </li>
            <li>tag2
                <ul class="subtag">

                    <li>tag 2.1
                        <ul class="subtag">
                            <li>tag 2.1.1
                            </li>
                        </ul>
                    <li>tag 2.2
                    </li>

                </ul>
            </li>

        </ul>
    </li>
</ul>
xxx

<select>
    {% include 'CPASimUSanteSimupollBundle::subtag.html.twig' with {'tags': tags, 'level': 0} %}
</select>