{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}
{# http://jsfiddle.net/w9usmhwL/1/ #}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>

        <div class="panel-body" id="text_content">
            <form action="{{ path('cpasimusante_editsimupoll', {'id': _resource.id}) }}" method="post" {{ form_enctype(form) }} id="form">
                <button id="addQuestion" type="button">add a question</button>

                <div id="question-container"></div>
                {{ form_row(form.title) }}
                <label class="control-label col-md-4">Indiquez les questions associées à ce Simupoll</label>
                <ul class="isel-question" data-prototype="{{ _self.question_prototype(form.questions.vars.prototype)|e }}"></ul>
            </form>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-default" >{{ 'cancel'|trans({}, 'platform') }}</button>
            <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
    <!--<script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupoll.js') }}'></script>-->

    <script type="text/x-template" id="question-template">
        <div id="question-<%= outerId %>">
            <br><b>Benefit Item</b>
            <div>
                <label for="CVC_benefititems_<%= outerId %>_comment" class="required">Comment</label>
                <input type="text" id="CVC_benefititems_<%= outerId %>_comment" name="CVC[benefititems][<%= outerId %>][comment]" required="required" maxlength="400" value="b1" />
            </div>
            <br><b>Benefit Groups</b>
            <table class="benefitgroups">
                <tr id="item-<%= innerId %>">
                    <th><label for="CVC_benefititems_<%= outerId %>_benefitgroups_<%= innerId %>" class="required">Name</label></th>
                    <td><input type="text" id="CVC_benefititems_<%= outerId %>_benefitgroups_<%= innerId %>" name="CVC[benefititems][<%= outerId %>][benefitgroups][<%= innerId %>][name]" required="required" maxlength="100" value="c1b1" /></td>
                    <td></td>
                </tr>
            </table>

            <button type="button" class="destroy-question" data-question-id="<%= outerId %>">&times; delete</button>
            <button class="addItem" type="button" data-question-id="<%= outerId %>">add an item</button>
            <hr>
        </div>
    </script>

    <script type="text/x-template" id="inner-form-template">
        <tr id="proposition-<%= innerId %>">
            <th><label for="CVC_benefititems_<%= outerId %>_benefitgroups_<%= innerId %>" class="required">Name</label></th>
            <td><input type="text" id="CVC_benefititems_<%= outerId %>_benefitgroups_<%= innerId %>" name="CVC[benefititems][<%= outerId %>][benefitgroups][<%= innerId %>][name]" required="required" maxlength="100" value="c1b1" /></td>
            <td><button type="button" class="destroy-item" data-item-id="<%= innerId %>">&times; delete</button></td>
        </tr>
    </script>

    <script type="text/javascript">
        var $questionTemplate;
        var $propositionTemplate;
        var $questionContainer;
        $(document).ready(function() {
            $questionTemplate = $('#question-template');
            $propositionTemplate = $('#proposition-form-template');
            $questionContainer = $("#question-container");
            $("#addQuestion").on('click', function(e){
                addquestionForm();
            });
            $questionContainer.on('click', '.addProposition', function (e) {
                addpropositionForm(e.target.dataset.questionId);
            })
            $questionContainer.on('click', '.destroy-question', function (e) {
                destroyQuestion(e.target.dataset.questionId);
            });

            $questionContainer.on('click', '.destroy-proposition', function (e) {
                destroyProposition(e.target.dataset.propositionId);
            });
        });
        function addquestionForm () {
            var compiled = _.template($questionTemplate.html());
            var html = compiled({
                questionId: _.uniqueId(),
                propositionId: _.uniqueId()
            });
            $questionContainer.append(html);
        }
        function addpropositionForm (questionId) {
            var compiled = _.template($propositionTemplate.html());

            var html = compiled({
                questionId: questionId,
                propositionId: _.uniqueId()
            });
            $questionContainer.find('#question-'+questionId).find('.benefitgroups').append(html);
        }
        function destroyQuestion(id){
            $("#question-"+id).remove();
        }
        function destroyProposition(id){
            $("#proposition-"+id).remove();
        }
    </script>
{% endblock %}