{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default panel-simupoll">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>

        <div class="panel-body" id="text_content">
            <a class="btn btn-primary" href="{{ path('cpasimusante_simupoll_open', { 'id': _resource.getId() }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans }}
            </a>
            <hr>
            {# display the messsages - macros in core #}
            <div>{{ macros.flashBox() }}</div>
            <form id="simupollImportForm" enctype="multipart/form-data" method="post"
            action="{{ path('cpasimusante_simupoll_import', { 'id': _resource.getId() }) }}">
                <div class="well">
                  <p><b>Informations sur le format du fichier CSV catégories</b></p>
                  <p>Format :</p>
                  <ul><li>Les données d'une catégorie doivent être définies sur une ligne et séparées par un point virgule.</li>
                      <li>Ordre : nom de la catégorie, nom de la catégorie parent. indiquer "null" pour la catégorie parent si la catégorie n'a pas de parent</li>
                      <li>Vous ne devez pas ajouter un en-tête de fichier.</li>
                  </ul>
                </div>
                <p><label>{{ 'category_file'|trans({}, 'resource') }}</label>
                <input id="categoryfile" class="form-control" name="categoryfile" type="file" /></p>
                <div class="well">
                    <p><b>Informations sur le format du fichier CSV questions</b></p>
                    <p>Format :</p>
                    <ul><li>Les données d'une catégorie doivent être définies sur une ligne et séparées par un point virgule.</li>
                        <li>pour chaque proposition, vous devez indiquer un score</li>
                        <li>Ordre : nom de la question;nom de la catégorie;proposition1;score1;proposition2;score2 ...</li>
                        <li>Vous ne devez pas ajouter un en-tête de fichier.</li>
                    </ul>
                </div>
                <p><label>{{ 'question_file'|trans({}, 'resource') }}</label>
                <input id="questionfile" class="form-control" name="questionfile" type="file" /></p>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            <button type="submit" class="btn btn-primary">
                {{ 'ok'|trans({}, 'platform') }}
            </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
{% endblock %}
