{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>

        <div class="panel-body" id="text_content">
            <a class="btn btn-primary" href="{{ path('cpasimusante_simupoll_open', { 'id': _resource.getId() }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans }}
            </a>
            <hr>

            {% if allowToCompose == 1 %}
                <form action="{{ path('cpasimusante_simupoll_organize', {'id': _resource.id}) }}" method="post" id="form">
                    <h2>{{ 'question_display_method'|trans({}, 'resource') }}</h2>
                    <p>
                        <input name="questdisp" type="radio" value="0" {% if choice == 0 %}checked{% endif %}> {{ 'question_all'|trans({}, 'resource') }}
                    </p>
                    <p>
                        <input name="questdisp" type="radio" value="1" {% if choice == 1 %}checked{% endif %}> {{ 'question_max_par_page'|trans({}, 'resource') }}
                        <input type="text" name="max_question_per_page" value="{% if choice == 1 %}{{ choiceData }}{% else %}0{% endif %}">
                    </p>
                    {#
                    <p>
                        <input name="questdisp" type="radio" value="2" {% if choice == 2 %}checked{% endif %}> {{ 'question_all_from_lvl'|trans({}, 'resource') }}
                        <select name="question_per_category_level">
                            {% for level in 0..maxCategoryLevel %}
                                <option value="{{ level }}" {% if choice == 2 and choiceData == level %}selected{% endif %}>{{ level }}</option>
                            {% endfor %}
                        </select>
                        {{ 'question_subcategories'|trans({}, 'resource') }}
                    </p>
                    #}
                    <div>
                        <p><input name="questdisp" type="radio" value="2" {% if choice == 2 %}checked{% endif %}> {{ 'question_group'|trans({}, 'resource') }}</p>
                        <table class="table">
                            <tr><th class="col-md-1"><input type="checkbox"></th><th class="col-md-1">{{ 'question_count'|trans({}, 'resource') }}</th><th>{{ 'category_name'|trans({}, 'resource') }}</th></tr>
                            {{ tree |raw }}
                        </table>
                    </div>
                    <button type="button" class="btn btn-default" >{{ 'cancel'|trans({}, 'platform') }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
    {#    <script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupoll-orga.js') }}'></script>#}
{% endblock %}