{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>

        <div class="panel-body" id="text_content">
            <a class="btn btn-primary" href="{{ path('cpasimusante_simupoll_open', { 'id': _resource.getId() }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans }}
            </a>
            <hr>

            {% if allowToCompose == 1 %}
                <form action="#" method="post">
                    <h2>How to display the questions</h2>
                    <p>
                        <input name="questdisp" type="radio" value="0"> All questions
                    </p>
                    <p>
                        <input name="questdisp" type="radio" value="1"> Max number of question per page ?   <input type="text" name="max_question_per_page" value="0">
                    </p>
                    <p>
                        <input name="questdisp" type="radio" value="2"> All question from a category (and its sub-categories)

                        <select name="question_per_category_level">
                            {% for level in 0..maxCategoryLevel %}
                                <option value="{{ level }}">{{ level }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <input name="questdisp" type="radio" value="3"> Create group of questions
                    </p>
                    <button type="button" class="btn btn-default" >{{ 'cancel'|trans({}, 'platform') }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
    {#    <script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupoll.js') }}'></script> #}
{% endblock %}