{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>

        <div class="panel-body" id="text_content">
            <a class="btn btn-primary" href="{{ path('cpasimusante_simupoll_results', { 'id': _resource.getId() }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back_to_result' | trans({}) }}
            </a>
            <hr>
<!-- users -->
            <form action="#" method="post">
            <table class="table">
                <tr id="pick-user-for-stats">
                    <td class="isel_label">{{ 'pick_users'|trans({}, 'resource') }}</td>
                    <td class="isel_extra"><input type="text" name="simupoll_userlist" id="simupoll_userlist" value="{{ userlist }}" readonly /></td>
                    <td class="isel_extra">
                        <a class="btn btn-primary" id="pick-users-btn" title="{{ 'pick_users'|trans({}, 'resource') }}">
                            <i class="fa fa-user-plus pointer-hand pull-right"
                               data-placement="left"
                            ></i></a>
                    </td>
                </tr>
            </table>
<!-- title -->
            <p>{{'categorygroups_define'|trans({}, 'resource')}}</p>
            <table class="table" id="stat-group-titles">
                {% for inc in range(0, groupNb) %}
                <tr class="group-titles" data-id="{{inc}}">
                    <td class="isel_label">{{ 'group_title'|trans({'inc':(inc + 1)}, 'resource') }}</td>
                    {% set title = (titles[inc] is defined) ? titles[inc] : '' %}
                    <td class="isel_extra"><input type="text" name="group_title{{inc}}" value="{{title}}" class="form-control" /></td>
                </tr>
                {% endfor %}
            </table>
<!-- categories -->
            <p>{{ 'stat_category_manage'|trans({}, 'resource') }}</p>
            <table class="table">
                <tr><th class="col-md-2">{{ 'group_check'|trans({}, 'resource') }}</th><th class="col-md-1">{{ 'question_count'|trans({}, 'resource') }}</th><th>{{ 'category_name'|trans({}, 'resource') }}</th></tr>
                {{ tree |raw }}
            </table>
                <input type="hidden" value="{{ _resource.getResourceNode().getWorkspace().id }}" name="wsn" id="wsn" />
                <button type="submit" class="btn btn-primary">{{ 'save'|trans({}, 'platform') }}</button>
            </form>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupollStatSetup.js') }}'></script>
{% endblock %}
