{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <form action="{{ path('cpasimusante_simupoll_paper', {'id':_resource.getId()}) }}" method="post" name="paperResponse" id="paperResponse">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
        </div>

        <div class="panel-body" id="text_content">
            <a class="btn btn-primary" href="{{ path('cpasimusante_simupoll_open', { 'id': _resource.getId() }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans }}
            </a>
            <hr>

            <div id="messagediv"></div>
            {% if _resource.getDescription() != '' %}
                <div class="well">{{_resource.getDescription()|raw}}</div>
            {% endif %}
            <p>Page {{ page }} / {{ total }}</p>
            {% for category in categories %}
                    <h2 class="cat-niv{{ category.lvl + 1 }}">{{ category.name }}</h2>
                    {% for question in questions %}
                        {# "hack" needed because the query result are different whether there's an answer or not #}
                        {% if question[0] is defined %}{% set thequestion = question[0] %}{% else %}{% set thequestion = question %}{% endif %}

                        {% if thequestion.category.id == category.id %}
                            <div>
                                <p class="simuquestion">{{ thequestion.title }}</p>
                                {% for periodid, period in periods.id %}
                                    {{ periods.title[periodid] }}
                                    <ul class="simuproposition">
                                        {% for proposition in thequestion.propositions %}
                                            {% set checked = "" %}
                                            {% set radiokey = thequestion.id ~ '-' ~ period %}
                                            {% if radiokey in answers|keys
                                                and regexTwig('/' ~ proposition.id ~ ';/', answers[radiokey]) > 0
                                            %}
                                                {% set checked = "checked" %}
                                            {% endif %}
                                            <li>
                                                {#disable the radio when not current period#}
                                                {% if periods.current[periodid] == false %}
                                                    <input type="radio" class="propositionchoice" {{ checked }} disabled />
                                                    <input type="hidden" class="propositionchoicehidden" name="choice[{{ thequestion.id }}-{{ period }}]" data-question="{{ thequestion.id }}" id="choice[{{ thequestion.id }}]" value="{{ proposition.id }}" />
                                                {% else %}
                                                    <input type="radio" class="propositionchoice" name="choice[{{ thequestion.id }}-{{ period }}]" data-question="{{ thequestion.id }}" id="choice[{{ thequestion.id }}]" value="{{ proposition.id }}" {{ checked }}/>
                                                {% endif %}
                                                <label>{{ proposition.choice }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                {% endfor %}{# for id, period in periods.id #}
                            </div>
                        {% endif %}
                    {% endfor %}{# for question in questions #}
            {% endfor %}{#for category in categories#}
        </div>

        <div class="panel-footer">
            <input class="form-control" type="hidden" name="direction" id="direction" value="" />
            <input class="form-control" type="hidden" name="next" id="next" value="{{ next }}" />
            <input class="form-control" type="hidden" name="current" id="current" value="{{ current }}" />
            <input class="form-control" type="hidden" name="questions" id="questions" value="{{ questions|length }}" />
            <input class="form-control" type="hidden" name="sid" id="sid" value="{{ _resource.getId() }}" />

            {% if (choice == 2) %}
                {% if (page > 1) %}
                    <button class="btn btn-primary" id="prevpage" type="submit"><i class="fa fa-chevron-left"></i> {{ 'previous' | trans }}</button>
                {% endif %}
                {% if (page < total) %}
                    <button class="btn btn-primary" id="nextpage" type="submit">{{ 'next' | trans }}  <i class="fa fa-chevron-right"></i></button>
                    {# {% else %}
                         <input type="submit" value="{{ 'submit' | trans }}" class="btn btn-primary" id="submit" />#}
                {% endif %}
            {% else %}
                <input type="submit" value="{{ 'submit' | trans }}" class="btn btn-primary" id="submit" />
            {% endif %}
        </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
   {# <script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupollPaper.js') }}'></script> #}
    <script type="text/javascript">
        var translation= window.Translator;
        $(document).ready(function() {

            //if we're in choice = 2 (= display by categories)
            if ($('#nextpage').length != 0) {
                $('#nextpage').on('click', function(event){
console.log("#nextpage submit");
                    event.preventDefault();
                    $('#direction').val('next');
                    //saveAnswers('all');
                    $('#paperResponse').submit();
                });
            }
            if ($('#prevpage').length != 0) {
                $('#prevpage').on('click', function(event){
console.log("#prevpage submit");
                    event.preventDefault();
                    $('#direction').val('prev');
                    //saveAnswers('all');
                    $('#paperResponse').submit();
                });
            }
            function saveAnswers() {
                var $sid = $('#sid').val();
                var choice = [];
                $('input.propositionchoice:checked').each(function(){
                    choice.push([$(this).data('question'), $(this).val()]);
                });

                if (choice.length != $('#questions').val()) {
                    $('#messagediv').html('Attention');
                }

                var data ={};
                data.choice = choice;

                $.ajax({
                    type:"POST",
                    data:data,
                    url: Routing.generate('cpasimusante_simupoll_paper_save', {sid: $sid}),
                    success: function(response) {
console.log(response);
                        $('#messagediv').html(translation.trans('answer_saved', {}, 'resource'));
                    },
                    error: function(jqXHR, textStatus, errorThrown) { }
                });
            }

        });
    </script>
{% endblock %}
