<div id="modal-category-delete-form"
         class="modal-dialog"
         role="dialog"
         aria-labelledby="modalLabel"
         aria-hidden="true"
    >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </br>
            </div>
            <div class="modal-body">
                <h3 class="panel-title">{{'category_delete'|trans}}</h3>
                <p>Attention, supprimer une catégorie qui a des enfants supprimera aussi ses enfants</p>
                <form id="category-delete-form"
                      action="{{ path('cpasimusante_simupoll_category_delete_form', {'cid':cid}) }}"
                      method="POST"
                        {{ form_enctype(form) }}
                >
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                    <button type="submit" class="btn btn-primary" id="submit_category">{{ 'ok'|trans({}, 'platform') }}</button>
                </div>
                </form>
           </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
