{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Category edit</h3>
        </div>

        <div class="panel-body" id="text_content">
            <table class="table">
                <tr>
                    <td class="proposition_label">{{ form_label(form.name) }}</td>
                    <td class="proposition_widget">{{ form_widget(form.name) }}</td>
                </tr>
            </table>
        </div>

        <div class="panel-footer">

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupoll.js') }}'></script>
{% endblock %}