{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Périodes</h3>
        </div>

        <div class="panel-body" id="period_content">
            <a class="btn btn-primary" href="{{ path('cpasimusante_simupoll_open', { 'id': _resource.getId() }) }}">
                <i class="fa fa-arrow-left"></i> {{ 'back' | trans }}
            </a>
            <hr>
            <table class="table">
                <tr><th>{{ 'period_start'|trans({}, 'resource') }}</th><th>{{ 'period_stop'|trans({}, 'resource') }}</th><th class="col-md-1">{{ 'edit'|trans({}, 'platform') }}</th><th class="col-md-1">{{ 'delete'|trans({}, 'platform') }}</th></tr>
                {% for period in periods %}
                    <tr>
                        <td>{{ period.start|date("d/m/Y") }}</td>
                        <td>{{ period.stop|date("d/m/Y") }}</td>
                        <td><a class="btn btn-primary btn-sm period-modify-btn" data-id="{{ period.id }}" data-sid="{{ sid }}">{{ 'edit'|trans({}, 'platform') }}</a></td>
                        <td><a class="btn btn-danger btn-sm period-delete-btn" data-id="{{ period.id }}" data-sid="{{ sid }}"><i class="fa fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-primary btn-sm period-add-btn" data-sid="{{ sid }}" href="#"><i class="fa fa-plus"></i> {{ 'period_add'|trans({}, 'resource') }}</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusantesimupoll/css/simupoll.css') }}">
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}
    <script type="text/javascript" src='{{ asset('bundles/cpasimusantesimupoll/js/simupollPeriod.js') }}'></script>
{% endblock %}